@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;

    margin: 0;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.inner-part{
    display: grid;

    height: 500px;
    width: 1100px;
    grid-template-columns: 400px 700px;
    position: relative;
}

.first-half{
    position: relative;
    background-color: white;
    height: 500px;
}

.cyan-box{
    position: absolute;
    height: 450px;
    width: 300px;
    background-color: var(--blue);
    left: 10px;
    z-index: 100;
    border-radius: 20px;
    border: none;
    opacity: 0;
    animation: moveCyanBox 1.5s ease-out forwards;
}

@keyframes moveCyanBox{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.first-half img{
    position: absolute;
    height: 450px;
    z-index: 1000;
    top: 35px;
    left: 40px;
    border-radius: 20px;
    opacity: 0;
    animation: startFromRight 1.5s ease-out forwards;
}

@keyframes startFromRight{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.second-half{
    height: 500px;

    padding: 2rem 1rem;

}

.second-half h1{
    font-weight: 600;
    color: var(--blue);
    font-size: 50px;
}

.second-half p{
    font-weight: 400;
    font-size: 15px;
}
