
/* media Queries */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .header .search-part{
        display: none;
    }
    section{
        padding: 5rem 2rem;
    }

    .header .search-part{
        display: none;
    }
}

@media (max-width: 768px){

    section{
        padding: 3rem 1rem;
    }

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .nav{
        position: absolute;
        top: 99%;
        left: 0px;
        right: 0px;
        background-color: rgba(244, 248, 249 , 1);
        border-top: var(--border);
        border-bottom: var(--border);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 0 0);
        transition: clip-path 0.9s ease;
    }

    .header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .nav a{
        margin: 1rem 0;
        font-size: 2rem;
    }
    .dropdown__menu{
        position: static;
        border-radius: none;
        background-color: rgb(221, 251, 251);
    }

    .dropdown__link{
        justify-content: center;
        padding: 1rem;
    }

    .dropdown{
        padding-top: 5px;
        padding-bottom: 0px;
    }

    .dropdown a{
        padding-left: 20px;
    }

    .home{
        background-position: left;
    }

    .home .content{
        width: auto;
    }

}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .home .content{
        font-size: 4rem;
    }

    .heading{
        font-size: 3rem;
    }
}